body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #0D1D25;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-style: italic;
    color: #D59D80;
    text-align: center;

    display: flex;
    justify-content: left;
    align-items: normal;
    padding: 40px;
    margin-top: 50px;
}

.frontEndDeveloper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #D59D80;
    /* width: 100%; */
    /* margin-bottom: 100px; */
}

.introContainer {
    width: calc(100% - 1000px);
}

.introName {
    padding: 20px;
    font-size: 14px;
}

.introDev {
    font-size: 20px;
    padding: 20px;
}

.introPara {
    padding: 20px;
    font-size: 13px;

}

.contactBtn {
    padding: 10px 25px;
    margin-left: 20px;
    border-radius: 30px;
    background-color: white;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 10px;
}

.contactBtn:hover {
    background-color: black;
    color: white;
}

.introPhoto {
    margin-left: 10%;
    /* background-color: aquamarine; */

}

h2 {
    font-size: 28px;
}

.about {
    margin-top: 50px;
}

.octagon {
    display: inline-block;
    width: 200px;
    height: 200px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    background-color: #f4a261;
    margin: 20px;
}

.octagon-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}