* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #2E004F;
    color: #fff;
    line-height: 1.6;
}

header {
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 20px 80px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #DFB6B2;
    text-decoration: none;
    font-size: 16.5px;
    font-style: italic;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px;
}

.hero-content {
    width: 100%;
    /* max-width: 600px; */
    text-align: left;
}

.hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-buttons {
    padding: 35px 0px;
}

.hero-buttons button {
    background-color: #FBE4D8;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    color: #2E004F;
}

.hero img.laptop {
    margin-left: 850px;
    margin-top: -260px;
    max-width: 400px;
    height: 400px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

/* Responsive layout for smaller screens */
@media screen and (max-width: 768px) {
    .hero-content {
        text-align: center;
        /* Center text for small screens */
    }

    .hero img.laptop {
        max-width: 100%;
    }
}

.about-me-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: top;
    margin: 60px 0;
}

.mainFoto {
    max-width: 400px;
    height: 400px;
}

.skills-grid,
.works-grid {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

.skill,
.work-item {
    text-align: center;
    max-width: 250px;
}

.work-item img {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input,
form textarea {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #FBE4D8;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

footer {
    background-color: #2E004F;
    padding: 20px;
    text-align: center;
}

.social-links a {
    display: flex;
    justify-content: flex-end;
    margin: 0 10px;
    color: #FBE4D8;
    text-decoration: none;
}